/* Definir estilo para la página en general */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* Definir fuente de letra y sus equivalencias */
    margin: 0;
}

/* Definir estilo para header 1 */
h1 {
    color: rgb(255, 20, 147);
    /* Definir color */

}

/* Definir estilo para header 2 */
h2 {
    color: rgb(45, 193, 161);
    /* Definir color */

}

/* Definir estilo para otro header 2 */
#segundo_h2 {
    color: rgb(131, 79, 255);
    /* Definir color */

}

/* Definir estilo para header */
header {
    border: 2px solid black;
}

/* Definir estilo para div */
div {
    border: 2px dashed black;
    margin: 10px;
    padding: 10px;
}

/* Definir estilo para nav */
nav {
    border: 2px solid black;
}