body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
    color: #222;
}

section {
    margin-bottom: 30px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

input, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

ul {
    padding-left: 20px;
}